@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <a>Hello, @context.User.Identity.Name!</a>
        <a href="admin/account/login" class="nav-link btn btn-link">Log out</a>
    </Authorized>
</AuthorizeView>