<div id="prefooter">
    <span style="float: left; margin-left: 20px;">
        <table>
            <tr>
                <th id="help"></th>
                <th id="about"></th>
                <th id="social"></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li class="footer-list-header">Help</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li class="footer-list-header">About</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li class="footer-list-header">Social</li>
                    </ul>
                </td>
            </tr>
        </table>
    </span>
    <span style="float: right; margin-top: 60px; margin-right: 10px;">
        <a href="/">
            <img alt="Agatha's Clothing Store" src="/content/images/structure/sm_logo.png" border="0" />
        </a>
    </span>
</div>
<div id="footer"></div>
