@{
    Layout = "Checkout";
    ViewData["Title"] = "Payment Post";
}

@model Infrastructure.Payments.PaymentPostData

<h2>Payment Post</h2>
<script type="text/javascript">    
    $(document).ready(function() {
        $('#paymentForm').submit();
    });
</script>    
<form id="paymentForm" name="paymentForm" action="@Model.PaymentPostToUrl" method="post">
    @foreach (string postDataKey in Model.PostDataAndValue.AllKeys)
    {
        @Html.Hidden(postDataKey, Model.PostDataAndValue[postDataKey])
    }
    <input id="Submit" type="submit" value="Click here if page doesn't auto redirect in 10 seconds" />
</form><br />