@{
    Layout = "Checkout";
    ViewData["Title"] = "Payment Complete";
}

<h2>Payment Complete</h2>
Thank you, please allow up to 10 minutes for the payment
to be confirmed before your order becomes active.
<br /><br />