@{
    Layout = "Checkout";
    ViewData["Title"] = "Payment Cancel";
}

<h2>Payment Cancel</h2>
You cancelled your payment. You can always
@Html.ActionLink("pay for you order at a later date", "List", "Order").
<br /><br />