.loading-section {
    text-align: center;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.loading-section h2 {
    color: #0366d6;
}

.loader-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0366d6;
    display: inline-block;
    -webkit-animation: grow 2.1s infinite ease-in-out both;
    animation: grow 2.1s infinite ease-in-out both;
}

.loader-dot.dot1 {
    -webkit-animation-delay: -0.96s;
    animation-delay: -0.96s;
}

.loader-dot.dot2 {
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
}

@-webkit-keyframes grow {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

.middle-box {
    margin: auto;
    margin-top: 60px;
    width: 500px;
    padding: 30px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 20px;
}

.ui-datalist-data {
    padding-left: 0;
    padding-right: 0;
}