@page "/admin/account/forgotpassword"
@layout AuthLayout
@inject HttpClient Http
@inject NavigationManager navManager

<div class="row">
    <div class="col-12">
        @if ((forgotPasswordResponse?.IsSuccess).GetValueOrDefault() == false)
        {
            <h2>Forgot password</h2>
            <EditForm Model="model" OnValidSubmit="ResetPassword">
                <RadzenCard>
                    <label>Email</label>
                    <RadzenTextBox @bind-Value="model.Email"></RadzenTextBox>
                    <hr />
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <Alert Title="Attention" ErrorList="forgotPasswordResponse?.Errors" />
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Reset Password" Icon="track_changes" ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"></RadzenButton>
                </RadzenCard>
            </EditForm>
        }
        else
        {
            <EmailSent Email="@model.Email" />
        }
    </div>
</div>

@code {
    ForgotPasswordRequest model = new ForgotPasswordRequest();
    ForgotPasswordResponse forgotPasswordResponse = null;

    public async Task ResetPassword()
    {
        forgotPasswordResponse = await (await Http.PostAsJsonAsync<ForgotPasswordRequest>("api/accounts/forgotpassword", model))?.Content?.ReadFromJsonAsync<ForgotPasswordResponse>();
    }
}